# Python

**pycache**/
*.pyc

# Ambiente virtual

venv/
.env

# Jupyter

.ipynb_checkpoints/

# Sistema

.DS_Store

# VS Code

.vscode/

#ignore data files, but allow specific ones
!data/
!data/raw/
!data/raw/template_upload.csv
!data/raw/sample_input.csv